<content>
	<div class="chess" data-click="reset-board">
		<div class="board" data-click="focus-piece">
			<!--
			<piece class="black-rook pos-a8"></piece>
			<piece class="black-knight pos-b8"></piece>
			<piece class="black-bishop pos-c8"></piece>
			<piece class="black-queen pos-d8"></piece>
			<piece class="black-king pos-e8"></piece>
			<piece class="black-bishop pos-f8"></piece>
			<piece class="black-knight pos-g8"></piece>
			<piece class="black-rook pos-h8"></piece>
			<piece class="black-pawn pos-a7"></piece>
			<piece class="black-pawn pos-b7"></piece>
			<piece class="black-pawn pos-c7"></piece>
			<piece class="black-pawn pos-d7"></piece>
			<piece class="black-pawn pos-e7"></piece>
			<piece class="black-pawn pos-f7"></piece>
			<piece class="black-pawn pos-g7"></piece>
			<piece class="black-pawn pos-h7"></piece>

			<piece class="white-pawn pos-a2"></piece>
			<piece class="white-pawn pos-b2"></piece>
			<piece class="white-pawn pos-c2"></piece>
			<piece class="white-pawn pos-d2"></piece>
			<piece class="white-pawn pos-e2"></piece>
			<piece class="white-pawn pos-f2"></piece>
			<piece class="white-pawn pos-g2"></piece>
			<piece class="white-pawn pos-h2"></piece>
			<piece class="white-rook pos-a1"></piece>
			<piece class="white-knight pos-b1"></piece>
			<piece class="white-bishop pos-c1"></piece>
			<piece class="white-queen pos-d1"></piece>
			<piece class="white-king pos-e1"></piece>
			<piece class="white-bishop pos-f1"></piece>
			<piece class="white-knight pos-g1"></piece>
			<piece class="white-rook pos-h1"></piece>

			<piece class="from-pos pos-e4"></piece>
			<piece class="can-move pos-e4"></piece>
			<piece class="can-move pos-e3"></piece>-->
		</div>

		<coords class="ranks">
			<coord>1</coord>
			<coord>2</coord>
			<coord>3</coord>
			<coord>4</coord>
			<coord>5</coord>
			<coord>6</coord>
			<coord>7</coord>
			<coord>8</coord>
		</coords>

		<coords class="files">
			<coord>a</coord>
			<coord>b</coord>
			<coord>c</coord>
			<coord>d</coord>
			<coord>e</coord>
			<coord>f</coord>
			<coord>g</coord>
			<coord>h</coord>
		</coords>

		<div class="pawn-promotion" data-click="promote-pawn">
			<piece class="queen"></piece>
			<piece class="rook"></piece>
			<piece class="bishop"></piece>
			<piece class="knight"></piece>
		</div>
	</div>
	<div class="sidebar">

		<div class="tab-view_" sys-click="do-tab-row">
			<div class="tab-row_">
				<div class="tab-active_">Chat</div>
				<div>History</div>
				<div>Notes</div>
			</div>

			<div class="tab-body_">
				<!-- Chat -->
				<div class="tab-active_">
					<div class="chat-box">
						<div class="transcript">
							<div class="sent">This is the best chat interface ever</div>
							<div class="received" data-from="Laura Bularca">I agree</div>
							<div class="received" data-from="Laura Bularca">Testing to write stuff</div>
							<div class="sent">Some more example text</div>
							<div class="received" data-from="Laura Bularca">I listen to music</div>
						</div>
						<div class="chat-input">
							<div contenteditable="true">sample text goes here...</div>
						</div>
					</div>
				</div>

				<!-- History -->
				<div>
					<div class="list-body">
						<span class="index">1</span>
						<span class="move"><piece class="white-rook"></piece>d2</span>
						<span class="move"><piece class="black-queen"></piece>xb2</span>
						<span class="index">2</span>
						<span class="move"><piece class="white-pawn"></piece>b5</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">3</span>
						<span class="move"><piece class="white-knight"></piece>c1</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">4</span>
						<span class="move"><piece class="white-rook"></piece>d2</span>
						<!--
						<span class="move"><piece class="black-queen"></piece>xb2</span>
						<span class="index">5</span>
						<span class="move"><piece class="white-pawn"></piece>b5</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">6</span>
						<span class="move"><piece class="white-knight"></piece>c1</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">7</span>
						<span class="move"><piece class="white-rook"></piece>d2</span>
						<span class="move"><piece class="black-queen"></piece>xb2</span>
						<span class="index">8</span>
						<span class="move"><piece class="white-pawn"></piece>b5</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">9</span>
						<span class="move"><piece class="white-knight"></piece>c1</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">10</span>
						<span class="move"><piece class="white-rook"></piece>d2</span>
						<span class="move"><piece class="black-queen"></piece>xb2</span>
						<span class="index">11</span>
						<span class="move"><piece class="white-pawn"></piece>b5</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">12</span>
						<span class="move"><piece class="white-knight"></piece>c1</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">13</span>
						<span class="move"><piece class="white-rook"></piece>d2</span>
						<span class="move"><piece class="black-queen"></piece>xb2</span>
						<span class="index">14</span>
						<span class="move"><piece class="white-pawn"></piece>b5</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">15</span>
						<span class="move"><piece class="white-knight"></piece>c1</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">16</span>
						<span class="move"><piece class="white-rook"></piece>d2</span>
						<span class="move"><piece class="black-queen"></piece>xb2</span>
						<span class="index">17</span>
						<span class="move"><piece class="white-pawn"></piece>b5</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="index">18</span>
						<span class="move"><piece class="white-knight"></piece>c1</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>-->
					</div>

					<span class="option-buttons_" data-click="do-option-button">
						<span><i class="icon-to-start"></i></span>
						<span><i class="icon-previous"></i></span>
						<span class="disabled"><i class="icon-next"></i></span>
						<span class="disabled"><i class="icon-to-end"></i></span>
					</span>

					<!--
					<span class="option-buttons_" data-click="do-option-button">
						<span>text 1</span>
						<span>text glas 2</span>
						<span class="disabled">text 3</span>
					</span>-->

					<hr>
					
				</div>

				<!-- Notes -->
				<div>
					Notes
				</div>
			</div>
		</div>

	</div>
</content>
