<content>
	<div class="chess show-pawn-promotion1 show-game-over1" data-orientation="white" data-click="reset-board">
		<div class="board" data-click="focus-piece">
			<!--
			<piece class="black-rook pos-a8"></piece><piece class="black-knight pos-b8"></piece><piece class="black-bishop pos-c8"></piece><piece class="black-queen pos-d8"></piece><piece class="black-king pos-e8"></piece><piece class="black-bishop pos-f8"></piece><piece class="black-knight pos-g8"></piece><piece class="black-rook pos-h8"></piece><piece class="black-pawn pos-a7"></piece><piece class="black-pawn pos-b7"></piece><piece class="black-pawn pos-c7"></piece><piece class="black-pawn pos-d7"></piece><piece class="black-pawn pos-e7"></piece><piece class="black-pawn pos-f7"></piece><piece class="black-pawn pos-g7"></piece><piece class="black-pawn pos-h7"></piece>
			<piece class="white-pawn pos-a2"></piece><piece class="white-pawn pos-b2"></piece><piece class="white-pawn pos-c2"></piece><piece class="white-pawn pos-d2"></piece><piece class="white-pawn pos-e2"></piece><piece class="white-pawn pos-f2"></piece><piece class="white-pawn pos-g2"></piece><piece class="white-pawn pos-h2"></piece><piece class="white-rook pos-a1"></piece><piece class="white-knight pos-b1"></piece><piece class="white-bishop pos-c1"></piece><piece class="white-queen pos-d1"></piece><piece class="white-king pos-e1"></piece><piece class="white-bishop pos-f1"></piece><piece class="white-knight pos-g1"></piece><piece class="white-rook pos-h1"></piece>
			<piece class="from-pos pos-e4"></piece>
			<piece class="can-move pos-e4"></piece>
			<piece class="can-move pos-e3"></piece>-->
		</div>
		<div class="ghost-pieces"></div>

		<coords class="ranks">
			<coord>1</coord>
			<coord>2</coord>
			<coord>3</coord>
			<coord>4</coord>
			<coord>5</coord>
			<coord>6</coord>
			<coord>7</coord>
			<coord>8</coord>
		</coords>

		<coords class="files">
			<coord>a</coord>
			<coord>b</coord>
			<coord>c</coord>
			<coord>d</coord>
			<coord>e</coord>
			<coord>f</coord>
			<coord>g</coord>
			<coord>h</coord>
		</coords>

		<div class="dialog game-over">
			<h2>Game over</h2>
			<h4>Game drawn by stalemate</h4>
			<div class="button-row">
				<button>Rematch</button>
			</div>
		</div>

		<div class="dialog pawn-promotion" data-click="promote-pawn">
			<piece class="queen"></piece>
			<piece class="rook"></piece>
			<piece class="bishop"></piece>
			<piece class="knight"></piece>
		</div>
	</div>
	<div class="sidebar">

		<div class="tab-view_" sys-click="do-tab-row">
			<div class="tab-row_">
				<div>Chat</div>
				<div class="tab-active_">Details</div>
				<div>Notes</div>
			</div>

			<div class="tab-body_">
				<!-- Chat -->
				<div class="tab-chat">
					<div class="chat-box">
						<div class="transcript">
							<div class="sent">This is the best chat interface ever</div>
							<div class="received" data-from="Laura Bularca">I agree</div>
							<div class="received" data-from="Laura Bularca">Testing to write stuff</div>
							<div class="sent">Some more text</div>
							<!--
							<div class="received" data-from="Laura Bularca">I listen to music</div>
							<div class="sent">This is the best chat interface ever</div>
							<div class="received" data-from="Laura Bularca">I agree</div>
							<div class="received" data-from="Laura Bularca">Testing to write stuff</div>
							-->
						</div>
						<div class="chat-input">
							<div contenteditable="true" placeholder="Enter message here..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
						</div>
					</div>
				</div>

				<!-- Details -->
				<div class="tab-details tab-active_">
					<div class="list-body move-history" data-click="history-entry-go">
						<!--
						<span class="move"><piece class="white-rook"></piece>d2</span>
						<span class="move"><piece class="black-queen"></piece>xb2</span>
						<span class="move"><piece class="white-pawn"></piece>b5</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="move"><piece class="white-knight"></piece>c1</span>
						<span class="move"><piece class="black-rook"></piece>h3</span>
						<span class="move"><piece class="white-rook"></piece>d2</span>
						<span class="move"><piece class="black-queen"></piece>xb2</span>
						<span class="move"><piece class="white-pawn"></piece>b5</span>
						<span class="move active"><piece class="black-rook"></piece>h3</span>-->
					</div>

					<span class="option-buttons_">
						<span data-click="history-go-start"><i class="icon-to-start"></i></span>
						<span data-click="history-go-prev"><i class="icon-previous"></i></span>
						<span data-click="history-go-next" class="disabled"><i class="icon-next"></i></span>
						<span data-click="history-go-end" class="disabled"><i class="icon-to-end"></i></span>
					</span>

					<hr>
					<!--
					<span class="option-buttons_">
						<span>1s</span>
						<span>2s</span>
						<span>3s</span>
						<span>5s</span>
					</span>-->
					
				</div>

				<!-- Notes -->
				<div class="tab-notes">
					Notes
				</div>
			</div>
		</div>

	</div>
</content>
