<content>
	<div class="board">
		<piece class="black-rook"></piece>
		<piece class="black-knight"></piece>
		<piece class="black-bishop"></piece>
		<piece class="black-queen"></piece>
		<piece class="black-king"></piece>
		<piece class="black-bishop"></piece>
		<piece class="black-knight"></piece>
		<piece class="black-rook"></piece>
		<piece class="black-pawn"></piece>
		<piece class="black-pawn"></piece>
		<piece class="black-pawn"></piece>
		<piece class="black-pawn"></piece>
		<piece class="black-pawn"></piece>
		<piece class="black-pawn"></piece>
		<piece class="black-pawn"></piece>
		<piece class="black-pawn"></piece>

		<piece class="white-pawn"></piece>
		<piece class="white-pawn"></piece>
		<piece class="white-pawn"></piece>
		<piece class="white-pawn"></piece>
		<piece class="white-pawn"></piece>
		<piece class="white-pawn"></piece>
		<piece class="white-pawn"></piece>
		<piece class="white-pawn"></piece>
		<piece class="white-rook"></piece>
		<piece class="white-knight"></piece>
		<piece class="white-bishop"></piece>
		<piece class="white-queen"></piece>
		<piece class="white-king"></piece>
		<piece class="white-bishop"></piece>
		<piece class="white-knight"></piece>
		<piece class="white-rook"></piece>
	</div>
</content>
