
background: #ececec;
overflow: initial;


@font-face {
  font-family: 'Noto Chess';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Chess'),
  		local('Noto-Chess'),
  		url(https://lichess1.org/assets/_E8PzY5/font/lichess.chess.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	--box-size: 78px;
	display: flex;

	.chess {
		width: calc( var(--box-size) * 8 );
		height: calc( var(--box-size) * 8 );
		background: url(~/icons/board.png);
		position: relative;
		font-size: 0;
		//box-shadow: 0 2px 3px rgba(0,0,0,.35);
		box-shadow: 0 0 0 2px #956843;
		margin: 11px;
		//pointer-events: none;

		&.show-pawn-promotion {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				background: rgba(0,0,0,.2);
				backdrop-filter: blur(1px);
			}
			.pawn-promotion {
				display: block;
			}
		}
	}

	.sidebar {
		flex: 1;
		padding: 7px 9px 9px 1px;

		.list-body {
			position: relative;
			background: #fafafa;
			overflow-y: auto;
			border: 1px solid #cecece;
			border-radius: 2px;
			height: 250px;
			font-size: 0;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 38px;
				z-index: 1;
				background: #f0f0f0;
				border-right: 1px solid #cecece;
				border-radius: 2px 0 0 2px;
			}

			span {
				position: relative;
				z-index: 2;
				display: inline-block;
				padding: 6px 5px 4px;
				font-size: 12px;
			}

			.index {
				width: 39px;
				text-align: right;
				padding-top: 7px;
				padding-right: 7px;
				background: #f0f0f0;
				color: #777;
				border-right: 1px solid #cecece;
			}
			.move {
				position: relative;
				width: calc( 50% - 21px );
				padding-left: 23px;
				margin-top: 1px;
				margin-left: 1px;

				&:hover {
					background: #eee;
				}
				
				piece {
					top: 1px;
					left: 3px;
					width: 18px;
					height: 18px;
				}
			}
		}
	}

	coords {
		position: absolute;
		display: flex;
		font-size: 11px;
		font-family: sans-serif;
		color: #f0d9b5;
		pointer-events: none;
		user-select: none;

		&.ranks {
			top: 0;
			bottom: 0;
			right: 0;
			width: .8em;
			flex-flow: column-reverse;

			coord {
				flex: 1 1 auto;
				padding-top: 2px;

				&:nth-of-type(odd) {
					color: #946f51;
				}
			}
		}

		&.files {
			left: 0;
			right: 0;
			bottom: 0;
			height: 1.1em;
			flex-flow: row;

			coord {
				flex: 1 1 auto;
				padding-left: 3px;

				&:nth-of-type(even) {
					color: #946f51;
				}
			}
		}
	}

	.pawn-promotion {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		border-radius: 11px;
		background: rgba(255,255,255,.37);
		box-shadow: 0 2px 5px rgba(0,0,0,.35);
		backdrop-filter: blur(17px);
		z-index: 3;
		padding: 7px;
		font-size: 0;
		white-space: nowrap;

		piece {
			display: inline-block;
			position: relative;
			width: 70px;
			height: 70px;
			margin: 9px 0 9px 10px;
			cursor: pointer;

			&:last-child { margin-right: 10px; }

			&:hover:before {
				content: "";
				position: absolute;
				top: -3px;
				left: -3px;
				right: -3px;
				bottom: -3px;
				border: 2px solid #000000c0;
				border-radius: 5px;
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}

	.board {
		&.black-turn {
			piece[class^="black-"]:not(.active):hover {
				box-shadow: inset 0 0 0 4px rgba(120,185,130,.6);
			}
			& ~ .pawn-promotion piece {
				&:before { background: rgba(255,255,255,.3); }
				&.rook:after { background: url(~/icons/black-rook.png); }
				&.knight:after { background: url(~/icons/black-knight.png); }
				&.bishop:after { background: url(~/icons/black-bishop.png); }
				&.queen:after { background: url(~/icons/black-queen.png); }
			}
		}
		&.white-turn {
			piece[class^="white-"]:not(.active):hover {
				box-shadow: inset 0 0 0 4px rgba(120,185,130,.6);
			}
			& ~ .pawn-promotion piece {
				&:before { background: rgba(0,0,0,.15); border-color: #ffffffa0; }
				&.rook:after { background: url(~/icons/white-rook.png); }
				&.knight:after { background: url(~/icons/white-knight.png); }
				&.bishop:after { background: url(~/icons/white-bishop.png); }
				&.queen:after { background: url(~/icons/white-queen.png); }
			}
		}
		&.can-move-squares {
			piece[class^="black-"],
			piece[class^="white-"] {
				pointer-events: none;
			}
		}
	}

	piece {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 12.5%;
		height: 12.5%;
		transition: transform 200ms;

		&.can-move {
			background: radial-gradient(rgba(20,85,30,0.5) 19%, rgba(0,0,0,0) 20%);
			cursor: pointer;

			&:hover {
				background: rgba(20,85,30,.5);
			}

			&.piece-capture {
				background: radial-gradient(transparent 0%, transparent 80%, rgba(20,85,0,0.3) 80%);

				&:hover {
					background: rgba(20,85,30,.5);
				}
			}
		}

		&.move-from-pos {
			background: rgba(134,193,72,.65);
		}

		&.move-to-pos {
			background: rgba(134,193,72,.65);
		}

		&.moving {
			z-index: 2;
		}

		&.active {
			background: rgba(20,85,30,.75);
		}

		&.in-check:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: radial-gradient(ellipse at center,
					red 0%, #e70000 25%,
					rgba(169,0,0,0) 89%,
					rgba(158,0,0,0) 100%);
		}

		&.hidden {
			display: none;
		}

		&.black-rook:after,
		&.black-knight:after,
		&.black-bishop:after,
		&.black-queen:after,
		&.black-king:after,
		&.black-pawn:after,
		&.white-rook:after,
		&.white-knight:after,
		&.white-bishop:after,
		&.white-queen:after,
		&.white-king:after,
		&.white-pawn:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&.black-rook:after { background: url(~/icons/black-rook.png); }
		&.black-knight:after { background: url(~/icons/black-knight.png); }
		&.black-bishop:after { background: url(~/icons/black-bishop.png); }
		&.black-queen:after { background: url(~/icons/black-queen.png); }
		&.black-king:after { background: url(~/icons/black-king.png); }
		&.black-pawn:after { background: url(~/icons/black-pawn.png); }

		&.white-rook:after { background: url(~/icons/white-rook.png); }
		&.white-knight:after { background: url(~/icons/white-knight.png); }
		&.white-bishop:after { background: url(~/icons/white-bishop.png); }
		&.white-queen:after { background: url(~/icons/white-queen.png); }
		&.white-king:after { background: url(~/icons/white-king.png); }
		&.white-pawn:after { background: url(~/icons/white-pawn.png); }

		&.pos-a8 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 0 ) ); }
		&.pos-b8 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 0 ) ); }
		&.pos-c8 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 0 ) ); }
		&.pos-d8 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 0 ) ); }
		&.pos-e8 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 0 ) ); }
		&.pos-f8 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 0 ) ); }
		&.pos-g8 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 0 ) ); }
		&.pos-h8 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 0 ) ); }
		&.pos-a7 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 1 ) ); }
		&.pos-b7 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 1 ) ); }
		&.pos-c7 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 1 ) ); }
		&.pos-d7 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 1 ) ); }
		&.pos-e7 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 1 ) ); }
		&.pos-f7 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 1 ) ); }
		&.pos-g7 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 1 ) ); }
		&.pos-h7 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 1 ) ); }
		&.pos-a6 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 2 ) ); }
		&.pos-b6 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 2 ) ); }
		&.pos-c6 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 2 ) ); }
		&.pos-d6 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 2 ) ); }
		&.pos-e6 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 2 ) ); }
		&.pos-f6 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 2 ) ); }
		&.pos-g6 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 2 ) ); }
		&.pos-h6 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 2 ) ); }
		&.pos-a5 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 3 ) ); }
		&.pos-b5 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 3 ) ); }
		&.pos-c5 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 3 ) ); }
		&.pos-d5 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 3 ) ); }
		&.pos-e5 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 3 ) ); }
		&.pos-f5 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 3 ) ); }
		&.pos-g5 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 3 ) ); }
		&.pos-h5 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 3 ) ); }
		&.pos-a4 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 4 ) ); }
		&.pos-b4 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 4 ) ); }
		&.pos-c4 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 4 ) ); }
		&.pos-d4 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 4 ) ); }
		&.pos-e4 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 4 ) ); }
		&.pos-f4 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 4 ) ); }
		&.pos-g4 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 4 ) ); }
		&.pos-h4 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 4 ) ); }
		&.pos-a3 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 5 ) ); }
		&.pos-b3 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 5 ) ); }
		&.pos-c3 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 5 ) ); }
		&.pos-d3 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 5 ) ); }
		&.pos-e3 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 5 ) ); }
		&.pos-f3 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 5 ) ); }
		&.pos-g3 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 5 ) ); }
		&.pos-h3 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 5 ) ); }
		&.pos-a2 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 6 ) ); }
		&.pos-b2 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 6 ) ); }
		&.pos-c2 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 6 ) ); }
		&.pos-d2 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 6 ) ); }
		&.pos-e2 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 6 ) ); }
		&.pos-f2 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 6 ) ); }
		&.pos-g2 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 6 ) ); }
		&.pos-h2 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 6 ) ); }
		&.pos-a1 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 7 ) ); }
		&.pos-b1 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 7 ) ); }
		&.pos-c1 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 7 ) ); }
		&.pos-d1 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 7 ) ); }
		&.pos-e1 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 7 ) ); }
		&.pos-f1 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 7 ) ); }
		&.pos-g1 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 7 ) ); }
		&.pos-h1 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 7 ) ); }

		&.to-a8 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 0 ) ); }
		&.to-b8 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 0 ) ); }
		&.to-c8 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 0 ) ); }
		&.to-d8 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 0 ) ); }
		&.to-e8 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 0 ) ); }
		&.to-f8 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 0 ) ); }
		&.to-g8 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 0 ) ); }
		&.to-h8 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 0 ) ); }
		&.to-a7 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 1 ) ); }
		&.to-b7 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 1 ) ); }
		&.to-c7 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 1 ) ); }
		&.to-d7 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 1 ) ); }
		&.to-e7 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 1 ) ); }
		&.to-f7 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 1 ) ); }
		&.to-g7 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 1 ) ); }
		&.to-h7 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 1 ) ); }
		&.to-a6 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 2 ) ); }
		&.to-b6 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 2 ) ); }
		&.to-c6 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 2 ) ); }
		&.to-d6 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 2 ) ); }
		&.to-e6 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 2 ) ); }
		&.to-f6 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 2 ) ); }
		&.to-g6 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 2 ) ); }
		&.to-h6 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 2 ) ); }
		&.to-a5 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 3 ) ); }
		&.to-b5 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 3 ) ); }
		&.to-c5 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 3 ) ); }
		&.to-d5 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 3 ) ); }
		&.to-e5 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 3 ) ); }
		&.to-f5 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 3 ) ); }
		&.to-g5 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 3 ) ); }
		&.to-h5 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 3 ) ); }
		&.to-a4 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 4 ) ); }
		&.to-b4 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 4 ) ); }
		&.to-c4 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 4 ) ); }
		&.to-d4 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 4 ) ); }
		&.to-e4 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 4 ) ); }
		&.to-f4 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 4 ) ); }
		&.to-g4 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 4 ) ); }
		&.to-h4 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 4 ) ); }
		&.to-a3 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 5 ) ); }
		&.to-b3 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 5 ) ); }
		&.to-c3 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 5 ) ); }
		&.to-d3 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 5 ) ); }
		&.to-e3 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 5 ) ); }
		&.to-f3 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 5 ) ); }
		&.to-g3 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 5 ) ); }
		&.to-h3 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 5 ) ); }
		&.to-a2 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 6 ) ); }
		&.to-b2 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 6 ) ); }
		&.to-c2 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 6 ) ); }
		&.to-d2 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 6 ) ); }
		&.to-e2 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 6 ) ); }
		&.to-f2 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 6 ) ); }
		&.to-g2 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 6 ) ); }
		&.to-h2 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 6 ) ); }
		&.to-a1 { transform: translate( calc( var(--box-size) * 0 ), calc( var(--box-size) * 7 ) ); }
		&.to-b1 { transform: translate( calc( var(--box-size) * 1 ), calc( var(--box-size) * 7 ) ); }
		&.to-c1 { transform: translate( calc( var(--box-size) * 2 ), calc( var(--box-size) * 7 ) ); }
		&.to-d1 { transform: translate( calc( var(--box-size) * 3 ), calc( var(--box-size) * 7 ) ); }
		&.to-e1 { transform: translate( calc( var(--box-size) * 4 ), calc( var(--box-size) * 7 ) ); }
		&.to-f1 { transform: translate( calc( var(--box-size) * 5 ), calc( var(--box-size) * 7 ) ); }
		&.to-g1 { transform: translate( calc( var(--box-size) * 6 ), calc( var(--box-size) * 7 ) ); }
		&.to-h1 { transform: translate( calc( var(--box-size) * 7 ), calc( var(--box-size) * 7 ) ); }
	}
}
